{% extends 'main.html' %}
{% load static %}

{% block content %}

    <div class="container mt-5">

                
        <div class="sk">
            <img src="{% static 'assets/img/logomobil.png' %}" />
            <div><h1>Turbo Rents</h1></div>
        </div>
        <div class="row">
            <div class="col"><h2>Kontak</h2></div>
            <div class="col"><h2>021 234567</h2></div>
        </div>
        <div class="row">
            <div class="col"><h2>Email</h2></div>
            <div class="col"><h2>turborents@gmail.com</h2></div>
        </div>
        <div class="row">
            <div class="col"><h2>WhatsApp</h2></div>
            <div class="col"><h2>+62 8765432</h2></div>
        </div>
    </div>

{% endblock content %}