{% extends 'main.html' %}
{% load static %}

{% block content %}

<div id="syarat">
    <div class="container">
        <div class="mt-4">
            <img src="{% static 'assets/img/logomobil.png' %}" />
        </div>


        <div class="text-center mt-4">
            <h1>TurboRents</h1>
        </div>

        <div class="mt-5 ms-5">
            <p>Syarat dan Ketentuan yang Harus Dipenuhi</p>
            <p class="ms-3">1. Syarat dan Ketentuan yang Harus Dipenuhi</p>
            <p class="ms-3">2. Syarat dan ketentuan</p>
        </div>
    </div>
</div>

{% endblock content %}